* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: rgb(47, 47, 47);
}

.container {
  height: 40rem;
  width: 33rem;
  background: rgb(253, 236, 81);
  margin: 5rem auto;
}

.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3rem 2rem 4rem;
}

.white {
  height: 27rem;
  width: 32rem;
  background: #fff;
  margin: 1.5rem 0 0 4rem;
}

.avater {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  left: 2rem;
  top: -2rem;
}

.image {
  position: relative;
}
